@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: skyblue;
}

.container {
    background-color: aquamarine;
    padding: 2rem 5rem;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.result_img {
    display: flex;
    column-gap: 5rem;
}

img {
    width: 100px;
}

.result_user {
    transform: rotate(90deg);
}

.result_comp {
    transform: rotate(-90deg) rotateY(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    color: #7d2ae8;
    margin-top: 1.5rem;
}

.options_img img {
    width: 50px;
}

.options_images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.options_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease;
    opacity: 0.5;
    cursor: pointer;
}

.options_img:hover {
    opacity: 1;
}

.options_img:active {
    opacity: 1;
}

.options_img img {
    pointer-events: none;
}

.options_img p {
    color: #7d2ae8;
    margin-top: 1rem;
    font-size: 1.5rem;
    pointer-events: none;
}