body{
    background-color: rgb(0, 0, 0);
    margin:0;
    padding:0;
    /* height: 10000px; */
    
}

/*                                               STARTING START HERE                                       */

.start
{
    color: white;
    z-index: 2;
    background-color: black;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 15px;
    position: fixed;
    width: 100%;

}

.start1
{
    display: flex;
    align-items: center;
}

.logo
{
    font-size: 35px;
    font-weight:bold;
    padding-left: 10px;
    padding-right: 50px;
    font-family: sans-serif;
    color: red;
    cursor: pointer;

}

.options a {
    color: white;
    text-decoration: none;
    margin-right: 25px;
    font-family: Verdana, Tahoma, sans-serif;
}


.start2
{
    padding-right: 50px;
}
.sub_log
{
    display: flex;
    padding-right: 10px;
    cursor: pointer;

}

.search
{
    font-size: 30px; 
    cursor: pointer;

}

.sub
{
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif ;
    font-weight:bold;
    border-radius: 10px;
    padding: 10px 20px;
    margin-right: 25px;
    margin-left: 10px;
    background-color: rgba(255, 5, 5, 0.8);
    cursor: pointer;
   
}

.log
{
    font-size: 20px;
    background-color: rgb(71, 70, 70);
    border-radius: 10px;
    padding: 10px 50px;
    cursor: pointer;

}

/* ############################################################################# */

.mid_bgvid
{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 800px;
    margin-top: 60px;
    
}

.mid_bgvid video
{
width: 100%;
height: 800px;
object-fit: cover;
/* opacity: 0.8; */
filter: brightness(0.7);
}

.mid_text
{
    z-index: 1;
    position: relative;
    /* background-color: aquamarine; */
    /* padding-top: 100px; */
    top: 300px;
    left: 100px;
    width: 50%;
    object-fit: cover;
}

.text_heading, .top10_text_heading, .top10_popular_text
{
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    margin-bottom: 10px;
    
}

.text_info1
{
    color: slategray;
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.text_info1 a, .top10_text_info1 a , .top10_text_info1{
    color: slategray;
    cursor:text;
    text-decoration: none;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.info1_style
{
 background-color: red;
 border-radius: 5px;
 padding: 0px 5px;
 text-decoration: none;

}

.text_info1 .info1_style, .top10_text_info1 .info1_style {
    color: white;
}

.text_info2, .top10_text_info2{
    color: slategray;
    font-family: sans-serif;
    margin-top: 15px;
    max-width: 500px;
    
}

.text_sub
{
    font-size: 20px;
    font-family:Verdana, Tahoma, sans-serif ;
    font-weight:bold;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 5, 5, 0.8);
    cursor: pointer;
    width: 150px;
    color: white;
    margin-top: 10px;
}
/* #################################################      TOP10 START HERE      ################################################### */

.top10{
    margin-left: 100px;
    margin-top: 500px;
}

.top10_text_video
{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    gap: 100px;
}

.top10_video
{   z-index: -1;
    height: 373px;
    max-width: 300px;
}

.top10_video_head
{  position:absolute;
    height: 373px;
    width: 800px;
    
}

.mute_unmute
{   position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin-left: 80px;
    margin-top: 10px;
    
}

/* ############################# */

.top10_popular_places
{
    display: flex;
    overflow: scroll;
    scrollbar-width:none;
      
}

.top10_popular_places img{
    margin-right: 10px;
    border-radius: 10px;
    width: 355px;
    height: 188px;
    
}


 /*#####################################################################################################################################  */

.line2 {
    background-color: rgba(201, 193, 193,0.5);
    height: 1px;
    width: 100%;
    margin-bottom: 50px;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    color: white;
    margin-left: 95px;
    
}

.footer-item > a { 
    color: gray;   
    text-decoration: none;
    padding: 5px;
}

.footer-item-info
{
    font-size: 35px;
    font-weight:bold;
    padding-left: 10px;
    padding-right: 50px;
    font-family: sans-serif;
    cursor: pointer;
}
